notification_policies:
- name: auto-close-based-on-priority
  team_name: acme.dev
  auto_close_action:
    duration:
      time_amount: 60
  filter:
    type: match-all-conditions
    conditions:
      - field: priority
        operation: less-than
        expected_value: P3
  de_duplication_action:
    de_duplication_action_type: frequency-based
    count: 2
    duration:
      time_unit: minutes
      time_amount: 5

- name: delay-action-test
  team_name: acme.test
  auto_close_action:
    duration:
      time_amount: 60
  filter:
    type: match-all-conditions
    conditions:
      - field: priority
        operation: less-than
        expected_value: P3
  delay_action:
    delay_option: for-duration
    duration:
      time_unit: minutes
      time_amount: 5
